@(firstname: String, status: String)
    @import java.math.BigInteger;
<!DOCTYPE html>
    <html>
        <head>
            <title>@status TA Portal</title>
        </head>
        <body>

            <header class="topbar">
                <h1 class="focused" style="font-size: 37px;
                    color: #57a957">
                    <strong>TA Portal</strong>
                </h1>
                <p class="focused" style="font-size: 20px;
                    color: #3F51B5">Welcome, @firstname</p>
            </header>
            <p>@status</p>
            <a href="@routes.HomeController.changePassword()">CHANGE PASSWORD</a>
            <a href="@routes.HomeController.editProfile()">Edit Profule</a>
            <div>
            @if(status.equals("Student")) {
                <a href="@routes.ApplicationController.openApplicationForm()">Create Open Application</a>
            }
            </div>
            <div>
            @if(status.equals("Student")) {
                <a href="@routes.TAResponseController.openResponseForm("CS2341")">CS2341</a>
            }
            </div>

        </body>
    </html>
