@(currUser: Profile, message: String, classOptions: Seq[String])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Application Form</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="/assets/javascripts/openApplicationForm.js"></script>
            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    </head>
    <body>
        <div class="row">
            <div class="card col s8 offset-s2">
                <div class="card-panel">
                    <form action="@routes.ApplicationController.ApplicationHandler()" method="GET">
                        <div class="row s12" name="row-1">
                            <div class="input-field col ">
                                <input id="firstname" name="firstname" type="text" value="@currUser.firstname" readonly required>
                                <label for="firstname">First Name</label>
                            </div>
                            <div class="input-field col ">
                                <input id="lastname" name="lastname" type="text" value="@currUser.lastname" readonly required>
                                <label for="lastname">First Name</label>
                            </div>
                        </div>
                        <div class="row s12" name="row-2">
                            <div class="input-field col ">
                                <input id="email" name="email" type="text" value="@currUser.email" readonly required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col ">
                                <input id="phone" name="phone" type="text" value="@currUser.phone" readonly required>
                                <label for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="row s12" name="row-2">
                            <div class="col s2">
                                <strong>Degree Plan: @currUser.degree</strong>
                            </div>
                            <div class="input-field col s5">
                                <input id="startingSemester" name="startingSemester" type="text" value="@currUser.startingSemester" readonly required>
                                <label for="startingSemester">Starting Semester</label>
                            </div>
                            <div class="input-field col 5">
                                <input id="gradSemester" name="gradSemester" type="text" value="@currUser.gradSemester" readonly required>
                                <label for="gradSemester">Graduating Semester</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col">
                                <select id="classes" name="classes" style="display: block">
                                @for(classOption <- classOptions) {
                                    <option value="@classOption">@classOption</option>
                                }
                                </select>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>