@(authorizeMessage: String)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Play Setup Demo</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    </head>
    <body>

        <header class="topbar">
            <h1 class="focused" style="font-size: 37px;
                color: #57a957;
                text-align: center">
                <strong>Create Account</strong>
            </h1>
        </header>

        <div class="row">
            <div class="card col s6 offset-s3 ">
                <div class="card-panel">
                    <form action="@routes.HomeController.signupHandler()" method="GET">
                        <div class="row s12 offset-s2" name="row-1">
                            <div class="input-field col ">
                                <input id="username" name="username" type="text">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row" name="row-4">
                            <div class="input-field col s4">
                                <input id="email" name="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s5">
                                <select style="display: block" id="question1" name="question1" required>
                                    <option selected disabled style="color: #888888">Security Question 1</option>
                                    <option value="street">What street did you grow up on?</option>
                                    <option value="color">What is your favorite color?</option>
                                    <option value="mascot">What was your school mascot?</option>
                                </select>
                            </div>
                            <div class="input-field col s2">
                                <input id="answer1" name="answer1" type="text" class="validate" required>
                                <label for="answer1">Answer 1</label>

                            </div>
                            <div class="input-field col s5 offset-s4">
                                <select style="display: block" id="question2" name="question2" required>
                                    <option selected disabled style="color: #888888">Security Question 2</option>
                                    <option value="maiden">What is your mother's maiden name?</option>
                                    <option value="friend">Who was your best friend in school?</option>
                                    <option value="date">Where was your first date?</option>
                                </select>
                            </div>
                            <div class="input-field col s2">
                                <input id="answer2" name="answer2" type="text" class="validate" required>
                                <label for="answer2">Answer 2</label>
                            </div>
                        </div>
                        @if(authorizeMessage != null) {
                            <div class="alert alert-primary" role="alert">
                            @authorizeMessage
                            </div>
                            <br>
                        }

                        <div class="row">
                            <button id="api-search-button" class="btn col s4 offset-s4" type="submit">Submit</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </body>
</html>
